<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"/>
<html>
<head>
    <title>My WebSocket</title>
    <link rel="stylesheet" th:href="@{css/customize/chat.css}" href="css/customize/chat.css">
</head>

<body>
<div class="head"></div>
<div class="userList" id="userList">
    <div class="user" th:id="${user.username}" th:each="user,userStat:${userInfos}" onclick="showChat(this.id)">
            <img  th:src="${user.logoname}">
            <span th:text="${user.realname}"></span>
    </div>
</div>
<div id="modal" class="modal fade" tabindex="-1"></div>
</body>

<script type="text/javascript">
    
    function showChat(obj) {
            $("#modal").html("");
            var toUsername= obj;
            $.ajax({
                type: "GET",
                url: "page/chatPage",
                data:{toUsername:toUsername},
                error: function (data) {
                    alert("There was a problem");
                },
                success: function (data) {
                    $("#modal").html(data);
                }
            });
            $("#modal").modal({
                "backdrop": 'static',
                "keyboard": true,
                "show": true
            });

    }

</script>
</html>