<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>和美信息 - 主页</title>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!--/* bootstrap & fontawesome */-->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{css/customize/chat.css}" href="css/customize/chat.css">
    <link rel="stylesheet" th:href="@{css/font-awesome.min.css}" href="css/font-awesome.min.css"/>

    <!--/* page specific plugin styles */-->

    <link rel="stylesheet" th:href="@{css/jquery-ui.min.css}" href="css/jquery-ui.min.css"/>

    <link rel="stylesheet" th:href="@{css/datepicker.css}" href="css/datepicker.css"/>
    <link rel="stylesheet" th:href="@{css/ui.jqgrid.css}" href="css/ui.jqgrid.css"/>
    <!--/* text fonts */-->
    <link rel="stylesheet" th:href="@{css/ace-fonts.css}" href="css/ace-fonts.css"/>

    <!--/* ace styles */-->
    <link rel="stylesheet" th:href="@{css/chosen.css}" href="css/chosen.css"/>
    <link rel="stylesheet" th:href="@{css/ace.min.css}" href="css/ace.min.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" th:href="@{css/ace-part2.min.css}" href="css/ace-part2.min.css"/>
    <![endif]-->
    <!--/*<link rel="stylesheet" href="/css/ace-skins.min.css" />*/-->
    <!--/*<link rel="stylesheet" href="/css/ace-rtl.min.css" />*/-->

    <!--[if lte IE 9]>
    <link rel="stylesheet" th:href="@{/css/ace-ie.min.css}" href="/css/ace-ie.min.css"/>
    <![endif]-->

    <!--/**/-->
    <link rel="stylesheet" href="/css/my-modal-modify.css"/>
    <!--引用zTree的样式-->
    <link rel="stylesheet" th:href="@{/css/ztree/zTreeStyle.css}" href="/css/ztree/zTreeStyle.css"
          type="text/css">
    <!--引用dropzone的样式 文件上传界面-->
    <link rel="stylesheet" th:href="@{/css/dropzone.css}" href="/css/dropzone.css" type="text/css">

    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='js/jquery.min.js'>" + "<" + "/script>");
    </script>

    <!--zTree的核心代码-->
    <script th:src="@{/css/ztree/jquery.ztree.core-3.5.js}"
            src="/css/ztree/jquery.ztree.core-3.5.js"></script>

    <!--/* inline styles related to this page */-->

    <!--/* ace settings handler */-->
    <script th:src="@{/js/ace-extra.min.js}" src="/js/ace-extra.min.js"></script>

    <!--/* HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries */-->

    <!--[if lte IE 8]>
    <script th:src="@{js/html5shiv.js}" src="js/html5shiv.js"></script>
    <script th:src="@{js/respond.min.js}" src="js/respond.min.js"></script>

    <![endif]-->
</head>

<body class="no-skin">
<!--/* #section:basics/navbar.layout */-->
<div id="navbar" class="navbar navbar-default navbar-fixed-top">
    <script type="text/javascript">
        try {
            ace.settings.check('navbar', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="navbar-container" id="navbar-container">
        <!--/* #section:basics/sidebar.mobile.toggle*/-->
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <!--/* /section:basics/sidebar.mobile.toggle */-->
        <div class="navbar-header pull-left">
            <!--/* #section:basics/navbar.layout.brand */-->
            <a href="#" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    深圳市和美信息技术有限公司
                </small>
            </a>


            <!--/* /section:basics/navbar.layout.brand */-->

            <!--/* #section:basics/navbar.toggle */-->

            <!--/* /section:basics/navbar.toggle */-->
        </div>

        <!--/* #section:basics/navbar.dropdown */-->
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">

                <li class="green">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-envelope bigger-200"></i>
                        <span class="badge badge-success">5</span>
                    </a>
                    <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="icon-envelope-alt"></i>
                            5条消息
                        </li>
                        <li>
                            <a href="#" th:each="user,userStat:${userInfos}" th:id="${user.id}" onclick="showChatModel(this.id)">
                                <img th:src="${user.logoname}" class="msg-photo" alt="Alex's Avatar">
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue" th:text="${user.realname}">Alex:</span>
                                                <input type="hidden" id="hToUserName" th:value="${user.realname}">
												不知道写啥 ...
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>1分钟以前</span>
											</span>
										</span>
                            </a>
                        </li>
                        <li>
                            <a href="inbox.html">
                                查看所有消息
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="purple">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="">
                        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                        <span class="badge badge-important"  id="messageSize"></span>
                    </a>

                    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close"
                        id="messageList">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-exclamation-triangle"></i>
                            <span ></span>个消息
                        </li>
                        <!--  <li th:each="li:${messages}" th:text="${li.name}">
                              &lt;!&ndash;<span th:text="${messages}"></span>&ndash;&gt;
                          </li>-->
                        <li>
                            <a>
                                <!--href="javascript:shortcutEnter('borrow_spare_parts_audit','page/borrow_spare_parts')"-->
                                <div class="clearfix">
                                    <span class="pull-left">
                                        <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                        <span th:text="任务受理"></span>
                                    </span>
                                    <span class="pull-right badge badge-info" >2</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </li>
                <!--/* #section:basics/navbar.user_menu */-->
                <li class="light-blue">
                    <a data-toggle="dropdown" href="" class="dropdown-toggle">
                        <img class="nav-user-photo" src="avatars/avatar4.png" alt="张三照片"/>
								<span class="user-info" th:text="${session.currUser.realname}">
									张三
								</span>
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>
                    <input type="hidden" id="currentUserName" th:value="${session.currUser.username}"/>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li class="divider"></li>

                        <li>
                            <a href="logout">
                                <i class="ace-icon fa fa-power-off"></i>
                                注销
                            </a>
                        </li>
                    </ul>
                </li>

                <!--/* /section:basics/navbar.user_menu */-->
            </ul>
        </div>

        <!--/* /section:basics/navbar.dropdown */-->
    </div>
    <!--/* /.navbar-container */-->
</div>

<!--/* /section:basics/navbar.layout */-->
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <!--/* #section:basics/sidebar */-->
    <div id="sidebar" class="sidebar  responsive sidebar-fixed">
        <script type="text/javascript">
            try {
                ace.settings.check('sidebar', 'fixed')
            } catch (e) {
            }
        </script>



        <ul class="nav nav-list" id="menuUL">
            <li th:each="menu,menuStat:${menus}" class="">
                <a href="#" class="dropdown-toggle" th:if="${menu.url==null}">
                    <i th:class="'menu-icon fa '+ ${menu.iconLabel}"></i>
                    <span class="menu-text" th:text="${menu.name}"> 菜单 </span>
                    <b th:if="${menu.childrenMenus.size() gt 0}" class="arrow fa fa-angle-down"></b>
                </a>
                <a th:href="'main.html#' + ${menu.url}" th:attr="data-url=${menu.url}" th:if="${menu.url!=null}">
                    <i th:class="'menu-icon fa '+ ${menu.iconLabel}"></i>
                    <span class="menu-text" th:text="${menu.name}"> 菜单 </span>
                    <b th:if="${menu.childrenMenus.size() gt 0}" class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu" th:if="${menu.childrenMenus.size() gt 0}">
                    <li th:each="secMenu,userStat:${menu.childrenMenus}">
                        <a th:href="'main.html#' + ${secMenu.url}" th:attr="data-url=${secMenu.url}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            <span th:text="${secMenu.name}"></span>
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
               data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>

        <!--/* /section:basics/sidebar.layout.minimize */-->
        <script type="text/javascript">
            try {
                ace.settings.check('sidebar', 'collapsed')
            } catch (e) {
            }
        </script>
    </div>

    <!--/* /section:basics/sidebar */-->
    <div class="main-content">


        <div class="page-content">

            <div class="row">
                <div class="page-content-area">

                </div>
                <!--/* /.col */-->
            </div>
            <!--/* /.row */-->
        </div>
        <!--/* /.page-content */-->
    </div>
    <!--/* /.main-content */-->


    <a href="" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<script type="text/javascript">
    window.jQuery || document.write("<script src='js/jquery1x.min.js'>" + "<" + "/script>");
</script>
<![endif]-->
<script type="text/javascript">

    if ('ontouchstart' in document.documentElement) document.write("<script src='js/jquery.mobile.custom.min.js'>" + "<" + "/script>");

</script>
<script th:src="@{js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
<script th:src="@{js/jquery-ui.min.js}" src="js/jquery-ui.min.js"></script>
<script th:src="@{js/chosen.jquery.min.js}" src="js/chosen.jquery.min.js"></script>
<script th:src="@{js/date-time/bootstrap-datepicker.min.js}"
        src="js/date-time/bootstrap-datepicker.min.js"></script>
<script th:src="@{js/date-time/daterangepicker.min.js}"
        src="js/date-time/daterangepicker.min.js"></script>

<script th:src="@{js/jqGrid/jquery.jqGrid.min.js}" src="js/jqGrid/jquery.jqGrid.min.js"></script>
<script th:src="@{js/date-time/locales/bootstrap-datepicker.zh-CN.js}"
        src="js/date-time/locales/bootstrap-datepicker.zh-CN.js"></script>

<script th:src="@{js/jqGrid/i18n/grid.locale-en.js}" src="js/jqGrid/i18n/grid.locale-en.js"></script>
<script th:src="@{js/ace-elements.min.js}" src="js/ace-elements.min.js"></script>
<script th:src="@{js/uncompressed/ace.js}" src="js/uncompressed/ace.js"></script>
<script th:src="@{js/jqGrid/jquery.jqGrid.min.js}" src="js/jqGrid/jquery.jqGrid.min.js"></script>
<script th:src="@{js/jqGrid/i18n/grid.locale-cn.js}" src="js/jqGrid/i18n/grid.locale-cn.js"></script>
<script th:src="@{js/jquery.form.js}" src="js/jquery.form.js"></script>
<script th:src="@{js/notification.js}" src="js/notification.js"></script>
<script src="http://s1.bdstatic.com/r/www/cache/ecom/esl/1-6-10/esl.js"></script>

<input type="hidden" id="defaultMainPage" th:value="${defaultMainPage}"/>
<script type="text/javascript">
    var globalStr = "";
    function shortcutEnter(tabURL, menuURL) {
        globalStr = tabURL;
        window.location = "/main.html#" + menuURL;
        if ($("#" + globalStr).length > 0) {
            $('a[href="#' + globalStr + '"]').click();
        }
        window.location.reload();
    }

    $("#menuUL a").click(function () {
        globalStr = "";
    })

    jQuery(function ($) {
        var urlhash = window.location.hash.replace(/^#page1/, "#page");
        if (urlhash.indexOf("?tab=") >= 0)
            window.location.hash = urlhash.substr(0, urlhash.indexOf("?"));
        if ('enable_ajax_content' in ace) {
            var options = {
                content_url: function (url) {

                    if (!url.match(/^page\//))return;
                    var path = document.location.pathname;

                    //for Ace HTML demo version, convert ajax.html#page/gallery to > gallery.html and load it
                    if (path.match(/main\.html/)) return path.replace(/main\.html/, url);

                    //for Ace PHP demo version convert "page/dashboard" to "?page=dashboard" and load it
                    //return path + "?" + url.replace(/\//, "=");
                },
                default_url: $("#defaultMainPage").val()//'page/warehouse_operator_home'//default url

            };
            ace.enable_ajax_content($, options)
        }

    })

    //全角转换为半角函数 add by lidu
    function toCDB(str) {
        var tmp = "";
        for (var i = 0; i < str.length; i++) {
            if (str.charCodeAt(i) > 65248 && str.charCodeAt(i) < 65375) {
                tmp += String.fromCharCode(str.charCodeAt(i) - 65248);
            }
            else {
                tmp += String.fromCharCode(str.charCodeAt(i));
            }
        }
        tmp = tmp.toUpperCase();
        return tmp
    }

    function openLoading() {
        $("#loadingModal").modal({
            "backdrop": false,
            "keyboard": true,
            "show": true
        });
    }
    function closeLoading() {
        $("#loadingModal").modal("hide");
    }
    function showChatModel(toUserId) {
        alert(toUserId);
        $("#toUserId").val(toUserId);
        $("#toUserName").html($("#hToUserName").val());
        $("#chatModal").modal({
            "backdrop": 'static',
            "keyboard": true,
            "show": true
        });

    }
</script>

<div id="loadingModal" class="modal fade" tabindex="-1">
    <center><img th:src="@{img/loading1.gif}" src="img/loading1.gif" style="margin-top: 100px;"></center>
</div>

<!--
    add by lidu at 2015-6-30 9:10
    与服务端进行WebSocket的连接
-->
<script type="text/javascript">
    //    var uri = 'ws://'+location.host+'/message';
    //    var webSocket =  new WebSocket(uri);
    //
    //    webSocket.onerror = function(event) {
    //        onError(event)
    //    };
    //
    //    webSocket.onopen = function(event) {
    //        onOpen(event)
    //    };
    //
    //    webSocket.onmessage = function(event) {
    //        onMessage(event)
    //    };
    //
    //    function onMessage(event) {
    //        var message = event.data;
    //        updateMessage(message);
    //    }
    //
    //    function onOpen(event) {
    //        console.log("connection start:"+event.data);
    //    }
    //
    //    function onError(event) {
    //        console.log("connection error:"+event.data);
    //    }
    //
    //    function start() {
    //        var username = document.getElementById("username").value;
    //        var content = document.getElementById("content").value;
    //        webSocket.send(username+':'+content);
    //        return false;
    //    }
    //
    //    function pushMessage(message) {
    //        $("#loadingModal").XNotify({
    //            title: "桌面提醒",
    //            content: message,
    //            icon: "/img/workway.png",
    //            tag: "messageId"
    //        });
    //    }
    //
    //    /**
    //     * add by lidu at 2015-06-30 15:50
    //     * 更新消息提醒
    //     */
    //    function updateMessage(messageContent){
    //        $.ajax({
    //            url:'updateMessage',
    //            success: function(msg){
    //                /**推送桌面通知*/
    //                if(messageContent!="update"){
    //                    pushMessage(messageContent);
    //                }
    //                $("#messageSize").html(msg.size);
    //                var str = '<li class="dropdown-header">';
    //                str += '<i class="ace-icon fa fa-exclamation-triangle"></i>';
    //                str += '<span>'+msg.size+'</span>个消息';
    //                str += '</li>';
    //                for(var i=0;i<msg.msgs.length;i++){
    //                    var message = msg.msgs[i];
    //                    str += '<li><a href="'+message.href+'" >';
    //                    str += '<div class="clearfix">';
    //                    str += '<span class="pull-left">';
    //                    str += '<i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>';
    //                    str += '<span>'+message.name+'</span>';
    //                    str += '</span>';
    //                    str += '<span class="pull-right badge badge-info"> '+message.num+'</span>';
    //                    str += '</div></a></li>';
    //                }
    //                $("#messageList").html(str);
    //            }
    //        });
    //    }

</script>
<div id="chatModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="width:600px">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header" style="cursor: move;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            id="closeBtn" >
                        <span>&times;</span>
                    </button>
                    <input type="hidden" id="toUserId">
                    <input type="hidden" id="fromUsernameId" th:value="${session.currUser.id}">
                    <input type="hidden" id="fromUsernameLogo" th:value="${session.currUser.logoname}">
                    <input type="hidden" id="fromRealname" th:value="${session.currUser.realname}">
                    <span id="toUserName"></span>
                </div>
            </div>
            <div class="message" id="message">
            </div>
            <div class="inputMsg">
                <textarea id="text" type="text"></textarea>
                <button>发送</button>
            </div>

        </div>
    </div>
</div>
</body>
</html>
